# Node modules
node_modules/

# Build output
dist/
out/
out-tsc/

# IDE & Editor configs
.idea/
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Cucumber cache
.cucumber/
cucumber_report.json

# Optional environment files
.env